html,
body {
  height: 100%;
}
body {
  font-family: var(--ff);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
  max-width: 1120px;
  margin-inline: auto;
  width: 100%;
}
.main {
  padding: 20px;
}

h3,
p {
  margin: 0;
}

.h3-title {
  color: #001a49;
  text-align: center;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
}

.btn{
  border-radius: 33px;
  background: linear-gradient(44deg, #CD10FF 15.75%, #9F06FF 84.63%);
  padding: 15px 30px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.wrapper{
  max-width: 2000px;
  margin-inline: auto;
}
